@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #A5D8FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans); /* For body text */
  --font-serif: var(--font-fraunces); /* For headings */ 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
